@layer common, component, page, override;

@import './reset.css' layer(common);
@import './variables.css' layer(common);
@import './splide-core.min.css' layer(common);
@import './override.css' layer(override);

@layer common {
  body {
    font-size: liq(14);
    font-weight: 300;
    line-height: 160%;
    letter-spacing: liq(2.1);
    color: var(--col_main_gray);
  }
  .clip {
    overflow: clip;
  }
  .h-full {
    height: 100vh;
  }
  .bg-main-gray {
    color: var(--col_white);
    background-color: var(--col_main_gray);
  }

  @media (--pc) {
    body {
      font-size: liq(16);
    }

    .hover-lottie {
      filter: grayscale(1);
      transition: filter 0.6s ease;
      &:hover {
        filter: grayscale(0);
      }
    }
  }
}
