@layer common, component, page, override;

@import './reset.css' layer(common);
@import './variables.css' layer(common);
@import './override.css' layer(override);

@layer common {
  body {
    color: var(--col_main_gray);
  }
  .clip {
    overflow: clip;
  }
  .h-full {
    height: 100vh;
  }
  .bg-main-gray {
    color: var(--col_white);
    background-color: var(--col_main_gray);
  }

  @media (--pc) {
    body {
      font-size: liq(16);
    }
  }
}
