@layer component {
  @media (--pc) {
    .about {
      position: relative;
      padding: liq(150) 0;
      /* translate: 0 -50%; */
      /* padding-bottom: liq(150); */
      z-index: 1;
    }

    .inner {
      position: relative;
      z-index: 1;
    }

    .container {
      /* width: liq(980); */
    }

    .heading {
      position: relative;
      padding-left: liq(200);
    }

    .lottieWrap {
      position: absolute;
      left: liq(87);
      top: liq(21);

      > .lottie {
        width: liq(100);
        aspect-ratio: 1/1;
        filter: grayscale(1);
        transition: filter 0.6s ease;
        &:hover {
          filter: none;
        }
      }
    }

    .title {
      display: grid;
      gap: 15px 0;

      span {
        display: inline-block;
      }
      > span:first-child {
        padding-left: liq(45);
      }
    }

    .paragraph {
      margin-top: liq(120);

      .text {
        font-size: liq(34);
        font-weight: 900;
        line-height: 190%;
        letter-spacing: liq(5.1);

        > span {
          display: inline-block;
        }
      }
    }

    .image {
      position: absolute;
      width: liq(518);
      right: 0;
      top: liq(95);
      z-index: -1;
    }
  }
  @media (--sp) {
  }
}
