.closing {
  position: relative;
  /* height: 100vh; */
  display: grid;
  place-content: end;
  padding-top: rem(280);
  overflow: hidden;
  box-sizing: content-box;
  background-color: #fff;
  z-index: 1;

  &.is-animation {
    translate: 0 -10%;
  }
}
