@layer component {
  @media (--pc) {
    .closing {
      /* height: 100vh; */
      display: grid;
      place-content: end;
      padding-top: liq(200);
      overflow: hidden;
      box-sizing: content-box;
    }
    .container {
      display: grid;
      gap: liq(200);
    }
    .title {
      position: relative;
      z-index: 1;
    }
    .heading {
      display: grid;
      width: fit-content;
      margin-inline: auto;
      gap: liq(15);

      :global(.align) {
        justify-content: center;
      }
    }
    .lottie {
      position: absolute;
      width: liq(100);
      aspect-ratio: 1/1;
      top: liq(-190);
      right: liq(10);
      z-index: -1;
    }
    .info {
      display: grid;
      grid-template-columns: repeat(2, max-content);
      align-items: start;
      gap: liq(120);
    }
    .box {
      display: grid;
      gap: liq(20);
    }
    .links {
      display: grid;
      grid-template-columns: repeat(2, max-content);
      gap: liq(40);
      a {
        display: flex;
        align-items: center;
        gap: liq(8);
        > svg {
          width: liq(18);
          aspect-ratio: 1/1;
          flex-shrink: 0;
        }
      }
    }
    .copy {
      text-align: right;
      > small {
        font-size: liq(12);
        font-style: normal;
        line-height: 100%;
        letter-spacing: liq(0.6);
      }
    }
    .footText {
      margin-top: liq(27);
    }
  }
  @media (--sp) {
  }
}
