@import '../../styles/test.css';
@import '../../styles//splide-core.min.css';

@layer component {
  @media (--pc) {
    .work {
      overflow: hidden;
      padding: liq(200) 0;
    }
    .heading {
      position: relative;
      padding: liq(50) 0 0 liq(50);
      z-index: 1;
    }
    .title {
      :global(.align) {
        justify-content: end;
      }
    }
    .lottie {
      position: absolute;
      width: liq(100);
      aspect-ratio: 1/1;
      top: liq(-90);
      left: liq(80);
      z-index: -1;
    }
    .list {
      display: flex;
      gap: liq(50);
      translate: liq(70) 0;
      margin-top: liq(110);
    }
    /* .slider {
      margin-top: liq(110);
    } */
    /* splide */
    /* :global(.splide__track) {
      overflow: visible;
    }
    :global(.splide__slide) {
      margin-right: liq(50);
    } */
  }
  @media (--sp) {
  }
}
